<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Samyuktha Ganeshkumar</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body
    style="
      color: white;
      font-family: 'DM Sans', sans-serif;
      background-image: url('../assets/bg.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      margin: auto;
      width: 50%;
      text-align: center;
      padding: 10px;
    "
  >
    <!-- this is the start of content -->
    <header>
    <h1 style="font-size: 2.5em;">Samyuktha Ganeshkumar</h1>
<nav style="margin: 20px;">
  <a href="../index.html">Home</a>  |
       <a href="about.html">About</a>  |
  <a href="journey.html">Journey</a>  |
  <a href="blog.html">Blog</a>  |
  <a href="academics.html">Academics</a>  |
    <a href="extracurriculars.html">Extra-Curriculars</a>  |
    <a href="feedback.html">Feedback</a>
</nav>
      </header>
 
<section style="margin: 50px;">
 
    <iframe src="https://giphy.com/embed/1HfB9wDpz2oVi" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  <h2>Academics</h2>

  <table>
  <tr>

    <th colspan="2">Education</th>
    
    <th>Percentage/CGPA</th>
  </tr>
  <tr>
              <th rowspan="2">The Little Kindom Senior School</th>
    <td>ICSE examinations</td>
<td>94%</td>
    
  </tr>
  <tr>
        <td>ISC examinations</td>
    <td>95.6%</td>
  </tr>
    <tr>
<td><img src="../assets/ssn.png" alt="SSN college of Engineering" usemap="#ssn" width="120" height="52"><map name="ssn">
  <area shape="rect" coords="50,50,50,50" alt="SSN college of Engineering" >
</map></td>
      
    </tr>
</table>
  
    <p style="font-size: 1.25em"></p>
    </section>

    <footer>
           <h5> Created with ❤️ </h5>
    <address >

    Say hi to me!<br>
<a href="mailto:samyuktha9111@gmail.com">Email</a><br>

</address>
      </footer>
  </body>
</html>