<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Samyuktha Ganeshkumar</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap"
    rel="stylesheet" />
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body style="
      color: white;
      font-family: 'DM Sans', sans-serif;
      background-image: url('../assets/bg.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      margin: auto;
      width: 50%;
      text-align: center;
      padding: 10px;
    ">
  <!-- this is the start of content -->
  <header>
    <h1 style="font-size: 2.5em;">Samyuktha Ganeshkumar</h1>
    <nav style="margin: 20px;">
      <a href="../index.html">Home</a> |
      <a href="about.html">About</a> |
      <a href="journey.html">Journey</a> |
      <a href="interests.html">Interests</a> |
      <a href="academics.html">Academics</a> |
      <a href="extracurriculars.html">Extra-Curriculars</a> |
      <a href="feedback.html">Feedback</a>
    </nav>
  </header>

  <section style="margin: 50px;">




    <table style="width: 100%;border: 1px solid;border-collapse: collapse;">
      <caption>
        <h2>Academics</h2>
      </caption>
      <thead>
        <tr>
          <th style="width: 100%; border: 1px solid;padding: 10px;" colspan="2">Education</th>
          <th style="width: 100%; border: 1px solid;padding: 10px;">Percentage/CGPA</th>
        </tr>
      </thead>

      <tr>
        <td style="width: 100%; border: 1px solid;padding: 10px;" rowspan="2">
          <figure>
            <img src="../assets/tlk.png" alt="The Little Kingdom Senior School" width="80" height="80">
            <figcaption>The Little Kingdom Senior School</figcaption>
          </figure>
        </td>
        <td style="width: 100%; border: 1px solid;padding: 10px;">ICSE examinations</td>
        <td style="width: 100%; border: 1px solid;padding: 10px;">94%</td>
      </tr>

      <tr>
        <td style="width: 100%; border: 1px solid;padding: 10px;">ISC examinations</td>
        <td style="width: 100%; border: 1px solid;padding: 10px;">95.6%</td>
      </tr>
      <tr>
        <td style="width: 100%; border: 1px solid;padding: 10px;">
          <figure></figure>
          <img src="../assets/ssn.png" alt="SSN college of Engineering" width="120" height="52">

          <figcaption>SSN college of Engineering</figcaption>
          </figure>
        </td>
        <td style="width: 100%; border: 1px solid;padding: 10px;">Till 4th Semester</td>
        <td style="width: 100%; border: 1px solid;padding: 10px;">8.89 CGPA</td>
      </tr>
      <tfoot></tfoot>
    </table>

    <p style="font-size: 1.25em"></p>
  </section>

  <footer>
    <h5> Created with ❤️ </h5>
    <address>

      Say hi to me!<br>
      <a href="mailto:samyuktha9111@gmail.com">Email</a><br>

    </address>
  </footer>
</body>

</html>