<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Samyuktha Ganeshkumar</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap"
    rel="stylesheet" />
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body style="
      color: white;
      font-family: 'DM Sans', sans-serif;
      background-image: url('../assets/bg.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      margin: auto;
      width: 50%;
      text-align: center;
      padding: 10px;
    ">
  <!-- this is the start of content -->
  <header>
    <h1 style="font-size: 2.5em;">Samyuktha Ganeshkumar</h1>
    <nav style="margin: 20px;">
      <a href="../index.html">Home</a> |
      <a href="about.html">About</a> |
      <a href="journey.html">Journey</a> |
      <a href="interests.html">Interests</a> |
      <a href="academics.html">Academics</a> |
      <a href="extracurriculars.html">Extra-Curriculars</a> |
      <a href="feedback.html">Feedback</a>
    </nav>
  </header>

  <section style="margin: 50px;">
    <h2>Extra-Curriculars</h2>
    <h3>Events Organized</h3>
    <article>
      <details style="margin: 20px;">

        <summary>SSN ACM Student Chapter</summary>
        <img src="../assets/acm.png" alt="The Little Kingdom Senior School" width="80" height="80"
          style="padding: 10px;">
        <p>As the Vice-Chair, I am responsible for managing the committee and the affairs of the club as well as
          overseeing and guiding all decisions taken
          by the chapter. I organized a inter-college CTF contest called "Cyber Paradox" in December 2021.</p>

      </details>
      <details style="margin: 20px;">

        <summary>SSN ACM-W Student Chapter</summary>
        <img src="../assets/acmw.png" alt="The Little Kingdom Senior School" width="80" height="80"
          style="padding: 10px;">
        <p>As the Vice-Chair, I led a team of 10 developers and designers to build the official website for the chapter.
          We organized many talks and webinars with professionals for the student community.
        </p>

      </details>
    </article>
    <p style="font-size: 1.25em"></p>
  </section>

  <footer>
    <h6> Created with ❤️ </h6><br>
    <address>

      Say hi to me!<br>
      <a href="mailto:samyuktha9111@gmail.com">Email</a><br>

    </address>
  </footer>
</body>

</html>