<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Samyuktha Ganeshkumar</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap"
    rel="stylesheet" />
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body style="
      color: white;
      font-family: 'DM Sans', sans-serif;
      background-image: url('../assets/bg.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      margin: auto;
      width: 50%;
      text-align: center;
      padding: 10px;
    ">
  <!-- this is the start of content -->
  <header>
    <h1 style="font-size: 2.5em;">Samyuktha Ganeshkumar</h1>
    <nav style="margin: 20px;">
      <a href="../index.html">Home</a> |
      <a href="about.html">About</a> |
      <a href="journey.html">Journey</a> |
      <a href="interests.html">Interests</a> |
      <a href="academics.html">Academics</a> |
      <a href="extracurriculars.html">Extra-Curriculars</a> |
      <a href="feedback.html">Feedback</a>
    </nav>
  </header>

  <section style="margin: 50px;">

    <h2>Your Feedback</h2>
    <form action="/action_page.php">
      <label for="name">Name</label><br>
      <input type="text" id="name" name="name" value=""><br><br>
      <label for="email">Email</label><br>
      <input type="email" id="email" name="email" value=""><br><br>
      <label for="feedback">Feedback</label><br>
      <textarea id="feedback" name="feedback" rows="4" cols="50"></textarea>
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </section>

  <footer>
    <h6> Created with ❤️ </h6><br>
    <address>

      Say hi to me!<br>
      <a href="mailto:samyuktha9111@gmail.com">Email</a><br>

    </address>
  </footer>
</body>

</html>