<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Samyuktha Ganeshkumar</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap"
    rel="stylesheet" />
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body style="
      color: white;
      font-family: 'DM Sans', sans-serif;
      background-image: url('../assets/bg.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      margin: auto;
      width: 50%;
      text-align: center;
      padding: 10px;
    ">
  <!-- this is the start of content -->
  <header>
    <h1 style="font-size: 2.5em;">Samyuktha Ganeshkumar</h1>
    <nav style="margin: 20px;">
      <a href="../index.html">Home</a> |
      <a href="about.html">About</a> |
      <a href="journey.html">Journey</a> |
      <a href="interests.html">Interests</a> |
      <a href="academics.html">Academics</a> |
      <a href="extracurriculars.html">Extra-Curriculars</a> |
      <a href="feedback.html">Feedback</a>
    </nav>
  </header>

  <section style="margin: 50px;">


    <h2>Journey to College</h2>


    <img src="../assets/college.jpg" width="600" height="250" usemap="#collegemap" alt="Picture of College">
    <map name="collegemap">
      <area shape="rect" coords="34,44,270,350" title="SSN College of Engineering" alt="Picture of College"
        href="https://www.ssn.edu.in/">
    </map>

    <p style="">
      I am currently doing my junior year in Computer
      Science and Engineering from SSN College of Engineering and will be graduating in 2023. I have been studying in
      the
      college for the last three years. Moving to Chennai for college seemed scary at first but for someone who has been
      in a small town for years, I wanted the freedom to explore the city and at the same time build my career and that
      was why I chose SSN.
    </p>

  </section>

  <footer>
    <h5> Created with ❤️ </h5>
    <address>

      Say hi to me!<br>
      <a href="mailto:samyuktha9111@gmail.com">Email</a><br>

    </address>
  </footer>
</body>

</html>